{%extends 'part/base'%}
{%block title%}
<title>{{post.title}}</title>
<meta name="keywords" content="{%for tag in post.tags%}{{tag}} {%endfor%}">
{%endblock title%}
{%block main%}
<div id="main">
	<div class="spacecontent20"></div>
	<input type="hidden" id="post_id" value="{{post.post_id}}">
	<div id="page" class="post">
		<div class="spacecontent20"></div>
		<div id="title"><h3><a href="/post/{{post.post_id}}">{{post.title}}</a></h3></div>
		<div id="time"><span class="smalltime">{{post.create_date}}</span></div>
		<div class="pageline"></div>
		<div id="pagecontent">
			<div id="pagebody">
				{{post.content|safe}}
			</div>
			<div id="pagefoot">
				<div class="pageline"></div>
				<div class="spacecontent20"></div>
                <div class="tagcloud">
                {%for tag in post.tags%}
                {%if tag%}
                    <a class="tagitem">{{tag}}</a>
                {%endif%}
                {%endfor%}
                 </div><div class="clear spacecontent20"></div>
                Operation:&nbsp;<a href="/admin/post/{{post.post_id}}">编辑</a>{%if post.allowcomment%}, <a class="gotocomment">回复</a>{%endif%}
				<div class="spacecontent20"></div>
			</div>
		</div>
	</div>

    {%if comments%}
    <div id="comment" class="post">
        <h4>COMMENTS</h4>
        {%if post.allowcomment%}
            {%for comment in comments%}
                <div class="onecomment">
                    <p><strong>{{comment.nickname}}</strong> 在 <span class="smalltime">{{comment.create_date}}</span>:</p>
                    {{comment.comment}}  
                </div>
            {%endfor%}
        {%else%}
        <div class="onecomment">抱歉，本文暂未开放评论...</div>
        {%endif%}
    {%endif%}



    </div>
</div>
<div class="spacecontent40"></div>
{%endblock main%}

{%block script%}
	<link href="/static/css/syntaxhighlighter/shCore.css"  rel="stylesheet" type="text/css"/>
	<link href="/static/css/syntaxhighlighter/shThemeFadeToGrey.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">
	<script type="text/javascript" src="/static/js/syntaxhighlighter/shCore.js"></script>
	<script type="text/javascript" src="/static/js/syntaxhighlighter/shAutoloader.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autoIMG.js"></script>
    <script type="text/javascript" src="/static/js/lightbox.js"></script>
    <script type="text/javascript" src="/static/js/tinymce/tiny_mce.js"></script>

<script type="text/javascript">

function path()
{
    var args = arguments,
    result = [];
    for(var i = 0; i < args.length; i++)
        result.push(args[i].replace('@', '/static/js/syntaxhighlighter/'));
    return result
};
$(document).ready(function(){
	//SyntaxHighlighter.vars.discoveredBrushes=null;
	SyntaxHighlighter.autoloader.apply(null, path(
    'applescript            @shBrushAppleScript.js',
    'actionscript3 as3      @shBrushAS3.js',
    'bash shell             @shBrushBash.js',
    'coldfusion cf          @shBrushColdFusion.js',
    'cpp c                  @shBrushCpp.js',
    'c# c-sharp csharp      @shBrushCSharp.js',
    'css                    @shBrushCss.js',
    'delphi pascal          @shBrushDelphi.js',
    'diff patch pas         @shBrushDiff.js',
    'erl erlang             @shBrushErlang.js',
    'groovy                 @shBrushGroovy.js',
    'java                   @shBrushJava.js',
    'jfx javafx             @shBrushJavaFX.js',
    'js jscript javascript  @shBrushJScript.js',
    'perl pl                @shBrushPerl.js',
    'php                    @shBrushPhp.js',
    'text plain             @shBrushPlain.js',
    'py python              @shBrushPython.js',
    'ruby rails ror rb      @shBrushRuby.js',
    'sass scss              @shBrushSass.js',
    'scala                  @shBrushScala.js',
    'sql                    @shBrushSql.js',
    'vb vbnet               @shBrushVb.js',
    'xml xhtml xslt html    @shBrushXml.js'
    ));
	$('.smalltime').each(function(){
		$(this).text(dateToString($(this).text(),"yyyy-MM-dd hh:mm"));
	});
	SyntaxHighlighter.all();
    //add comment
    $(".gotocomment").each(function(){
        $(this).click(function(){
            if($('#makecomment').length==0){
                var makecomment=$('<div id="makecomment" class="post"></div>');
                var title=$('<h4><a id="makecommentanchor" name="makecomment"></a>LEAVE A COMMENT</h4>')
                var button=$('<input type="button" id="commentbutton" style="width:40px;height:30px;padding:0;margin:0;" class="darkbutton" value="GO">')
                var textfield=$('<textarea id="commenttextarea" rows="4" style="width:100%; background:#000000; border:0;border-radius:3px;color:#999999"></textarea>');
                makecomment.append(title);
                makecomment.append(button);
                makecomment.append($('<br><br>'));
                makecomment.append(textfield);
                $('#page').after(makecomment);
                var targetOffset=$('#makecommentanchor').offset().top;
                $('html,body').animate({scrollTop: targetOffset-36}, 500);
                $('#commenttextarea').focus();
                //bind functions
                $('#commentbutton').click(function(){
                    var url="/comment/newcomment/"+$('#post_id').val();
                    comment=$('#commenttextarea').val().replace(/(^\s*)|(\s*$)/g,'');
                    if(comment==""){
                        alert("请输入评论");
                        return;
                    }
                    $.ajax({
                        cache:true,
                        type:"POST",
                        url:url,
                        data:encodeURIComponent(comment),
                        contentType:"text/plain",
                        async:true,
                        error:function(data){
                            alert('connection error');
                        },
                        success:function(data){
                            var result=JSON.parse(data);
                            if (result.status==0){
                                alert(result.message);
                            }
                            else{
                                freshComment();
                            }
                        }
                    });
                });
            }
        });
    });
    //fresh comment
    function freshComment(){
        if($('#comment').length==0){
            $('#page').after('<div id="comment" class="post"></div>');
        }

        $('#comment').empty();
        var h4=$('<h4>COMMENTS</h4>');
        $('#comment').append(h4);
        var url="/comment/get/"+$('#post_id').val();
        $.ajax({
            async:true,
            url:url,
            success:function(data){
                result=JSON.parse(data);
                $('#makecomment').replaceWith('');
                for(var i=0;i<result.length;i++){
                    var tmp="<div class='onecomment'><p><strong>";
                    tmp+=result[i].nickname+"</strong>"+" 在 ";
                    tmp+="<span class=smalltime>"+dateToString(result[i].create_date,"yyyy-MM-dd hh:mm")+'</span>:</p>';
                    tmp+=result[i].comment+"</div>";
                    $('#comment').append(tmp);
                }
                var targetOffset=$('#comment').offset().top;
                $('#message').html('');
                var message="<span id='tmp'>评论成功，稍后将会显示</span>";
                $('#message').html(message);
                $('#tmp').fadeOut(2000);
                $('html,body').animate({scrollTop: targetOffset-36}, 500);

            },
            error:function(){
                alert('connection error');
            }
        });

    }


    //add lightbox
    $('#page img').each(function (i){
        var strA ="<a rel='lightbox[roadtrip]' href='" + this.src + "'></a>";
        $(this).wrapAll(strA);
    });
    //resize image
    $('#pagecontent').autoIMG();
});

</script>
{%endblock script%}
