{%extends 'part/base'%}
{%block title%}
<title>search--{{searchtag}}</title>
{%endblock title%}
{%block main%}

<div id="main">
	<div class="spacecontent40"></div>
		<div id="infobar" style="text-align:center">
			<input id="inputcontent" type="text" name="searchcontent" value="{{searchtag}}" size="30"  style="font-size:16px;vertical-align:middle">
			<input type="button" id="searchbutton" name="searchbutton" class="lightbutton" value="内容搜索">
		</div>
	<div id="taglist">
		{%for item in allpost%}
			<div class="post">
				<h3><a href="/post/{{item.post_id}}">{{item.title}}</a></h3>
				<span class="smalltime">{{item.create_date}}</span>
				<div class="content">{{item.content|striptags|truncate(length=200, killwords=True, end='.......')}}</div>
				<div class="tagcloud">
				{%for tag in item.tags%}
				<a class="tagitem">{{tag}}</a>
				{%endfor%}
				</div>

			</div>
		{%endfor%}
	</div>
	{%block pageindex%}
		{%include 'part/pageindex'%}
	{%endblock%}

	
</div>
{%endblock main%}

{%block script%}
<script type="text/javascript">
	$(document).ready(function(){
		$('.smalltime').each(function(){
			$(this).text(dateToString($(this).text(),"yyyy-MM-dd hh:mm"));
		});
		//bind listener
		$("#searchbutton").click(function(){
			var search=$('#inputcontent').val().replace(/(^\s*)|(\s*$)/g, "");
			if (search.length==0){
				return false;
			}
			var url= '/search/?search='+encodeURIComponent(search);
			//alert("hello");
			location.href=url;
		});
		$("#inputcontent").bind('keyup',function(e){
			if(e.keyCode=='13'){
				$("#searchbutton").click();
			}
		});
	});
</script>

{%endblock script%}
